<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Creatuity. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Creatuity_CronRunner::base" title="Creatuity Cron" module="Creatuity_Base" sortOrder="10" parent="Magento_Backend::system" resource="Creatuity_CronRunner::jobs"/>
        <add id="Creatuity_CronRunner::cron_manager" title="Manage Cron Jobs" module="Creatuity_CronRunner" sortOrder="20" parent="Creatuity_CronRunner::base" action="creatuity_cron/jobs/" resource="Creatuity_CronRunner::jobs"/>
    </menu>
</config>
